site_name: cookiecutter-uv-lite
repo_url: https://github.com/matrig/cookiecutter-uv-lite
site_url: https://matrig.github.io/cookiecutter-uv-lite
site_description: A lightweight, modern Python project template using uv for blazing-fast dependency management
site_author: Mattia Rigotti
edit_uri: edit/main/docs/
copyright: Maintained by Mattia Rigotti

nav:
  - Home: index.md
  - Features:
      - Makefile: features/makefile.md
      - Dependency management with uv: features/uv.md
      - Testing with Pytest: features/pytest.md
      - Documentation with MkDocs: features/mkdocs.md
      - Linting and code quality: features/linting.md
      - Compatibility testing with Tox: features/tox.md
  - Tutorial: tutorial.md
  - Prompt Arguments: prompt_arguments.md
plugins:
  - search
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  feature:
    tabs: true
  palette:
    # Note: Using the system theme works with the insiders version
    # https://squidfunk.github.io/mkdocs-material/setup/changing-the-colors/#automatic-light-dark-mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: astral-light
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: astral-dark
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/matrig/cookiecutter-uv-lite
markdown_extensions:
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
